@import "tailwindcss";

@theme {
  --font-sans: var(--font-instrument);
  --font-jersey: var(--font-jersey);
  --color-primary: #ec3750;
  --color-orange: #ffbf71;
  --color-purple: #312e4d;
}

@layer base {
  html {
    font-size: max(16px, 1.25vw);
  }

  :is(
    button:not([data-slot^="select-"]),
    [data-slot="button"],
    a[data-slot="button"],
    a.inline-flex.rounded-xl
  ) {
    color: #fff !important;
  }

  :is(
    button:not(:disabled, [data-slot^="select-"]),
    [data-slot="button"]:not(:disabled),
    a[data-slot="button"],
    a.inline-flex.rounded-xl
  ) {
    cursor: pointer;
  }

  :is(
    button:not(:disabled, [data-slot^="select-"]),
    [data-slot="button"]:not(:disabled),
    a[data-slot="button"],
    a.inline-flex.rounded-xl
  ):is(:hover, :focus-visible) {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
    opacity: 1 !important;
  }

  :is(
      button:not(:disabled, [data-slot^="select-"]),
      [data-slot="button"]:not(:disabled),
      a[data-slot="button"],
      a.inline-flex.rounded-xl
    ):is(:hover, :focus-visible)
    svg {
    color: #fff !important;
  }
}

@utility bg-grid {
  background-image: url("/bg-grid.svg");
  background-position: center;
  background-repeat: repeat;
}

@utility bg-noise {
  background-image: url("/bg-noise.png");
  background-repeat: repeat;
}

@utility corner-squircle {
  corner-shape: squircle;
}
